</div>
</div>

</div>
</div>
</div>

<!-- Loading Scripts -->
<script src="html/js/jquery.min.js"></script>
<script src="html/js/bootstrap-select.min.js"></script>
<script src="html/js/bootstrap.min.js"></script>
<script src="html/js/jquery.dataTables.min.js"></script>
<script src="html/js/dataTables.bootstrap.min.js"></script>
<script src="html/js/Chart.min.js"></script>
<script src="html/js/fileinput.js"></script>
<script src="html/js/chartData.js"></script>
<script src="html/js/main.js"></script>

</body>

</html>