<?php
/**
 * Created by PhpStorm.
 * User: ChathurangaKCD
 * Date: 5/12/2016
 * Time: 1:19 PM
 */


<
link rel = "stylesheet" href = "formoid_files/formoid1/formoid-solid-blue.css" type = "text/css" />
<script type="text/javascript" src="formoid_files/formoid1/jquery.min.js"></script>
<form class="formoid-solid-blue"
      style="background-color:#FFFFFF;font-size:14px;font-family:'Roboto',Arial,Helvetica,sans-serif;color:#34495E;max-width:480px;min-width:150px"
      method="post">
    <div class="title"><h2> Create User </h2></div>

    <div class="element-select"><label class="title"><span class="required">*</span></label>
        <div class="item-cont">
            <div class="large"><span><select name="select" required="required">

                <option value="Administrator"> Administrator</option>
                <option value="Management"> Management</option>
            </select><i></i><span class="icon-place"></span></span></div>
        </div>
    </div>
    <div class="element-input"><label class="title"><span class="required">*</span></label>
        <div class="item-cont"><input class="large" type="text" name="input" required="required"
                                      placeholder="Name"/><span class="icon-place"></span></div>
    </div>
    <div class="element-email"><label class="title"><span class="required">*</span></label>
        <div class="item-cont"><input class="large" type="email" name="email" value="" required="required"
                                      placeholder="Email"/><span class="icon-place"></span></div>
    </div>
    <div class="element-input"><label class="title"><span class="required">*</span></label>
        <div class="item-cont"><input class="large" type="text" name="input3" required="required"
                                      placeholder="NIC"/><span class="icon-place"></span></div>
    </div>
    <div class="element-input"><label class="title"><span class="required">*</span></label>
        <div class="item-cont"><input class="large" type="text" name="input2" required="required"
                                      placeholder="Contact No"/><span class="icon-place"></span></div>
    </div>
    <div class="element-input"><label class="title"></label>
        <div class="item-cont"><input class="large" type="text" name="input4" placeholder="License No"/><span
                class="icon-place"></span></div>
    </div>
    <div class="submit"><input type="submit" value="Submit"/></div>
</form>
<p class="frmd"><a href="http://formoid.com/v29.php"> form css </a> Formoid . com 2.9 </p>
<script type="text/javascript" src="formoid_files/formoid1/formoid-solid-blue.js"></script>