<!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Inline CSS based on choices in "Settings" tab -->
<style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;}.bootstrap-iso .form-control:focus { border-color: #3a98e3;  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(58, 152, 227, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(58, 152, 227, 0.6);} .asteriskField{color: red;}</style>

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="bootstrap-iso">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="formden_header">
                    <h2>
                        Create User
                    </h2>
                    <p>
                    </p>
                </div>
                <form method="post">
                    <div class="form-group ">
                        <label class="control-label requiredField" for="select1">
                            User Type
       <span class="asteriskField">
        *
       </span>
                        </label>
                        <select class="select form-control" id="select1" name="select1">
                            <option value="Administrator">
                                Administrator
                            </option>
                            <option value="Manager">
                                Manager
                            </option>
                            <option value="Driver">
                                Driver
                            </option>
                            <option value="Security">
                                Security
                            </option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label class="control-label requiredField" for="u_name">
                            Name
       <span class="asteriskField">
        *
       </span>
                        </label>
                        <input class="form-control" id="u_name" name="u_name" type="text"/>
                    </div>
                    <div class="form-group ">
                        <label class="control-label requiredField" for="u_email">
                            Email
       <span class="asteriskField">
        *
       </span>
                        </label>
                        <input class="form-control" id="u_email" name="u_email" type="text"/>
                    </div>
                    <div class="form-group ">
                        <label class="control-label requiredField" for="text">
                            NIC
       <span class="asteriskField">
        *
       </span>
                        </label>
                        <input class="form-control" id="text" name="text" type="text"/>
                    </div>
                    <div class="form-group ">
                        <label class="control-label " for="tel">
                            Telephone #
                        </label>
                        <input class="form-control" id="tel" name="tel" type="text"/>
                    </div>
                    <div class="form-group ">
                        <label class="control-label " for="u_license">
                            License No:
                        </label>
                        <input class="form-control" id="u_license" name="u_license" type="text"/>
                    </div>
                    <div class="form-group">
                        <div>
                            <button class="btn btn-primary " name="submit" type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
