<form class="fb-toplabel fb-100-item-column selected-object" id="docContainer"
      style="border-width: 1px; border-style: solid;" action="" enctype="multipart/form-data"
      method="POST" novalidate="novalidate" data-form="preview">
    <div class="fb-form-header" id="fb-form-header1" style="min-height: 0px;">
        <a class="fb-link-logo" id="fb-link-logo1" target="_blank"><img title="Alternative text" class="fb-logo"
                                                                        id="fb-logo1" style="display: none;"
                                                                        alt="Alternative text"
                                                                        src="common/images/image_default.png"/></a>
    </div>
    <div class="section" id="section1">
        <div class="column ui-sortable" id="column1">
            <div class="fb-item fb-100-item-column" id="item1" style="opacity: 1;">
                <div class="fb-header">
                    <h2 style="display: inline;">
                        Add Vehicle
                    </h2>
                </div>
            </div>
            <div class="fb-item fb-100-item-column" id="item20">
                <div class="fb-header">
                    <h2 style="font-size: 13px; display: inline;">
                        Make
                    </h2>
                </div>
            </div>
            <div class="fb-item fb-100-item-column fb-two-column" id="item17" style="opacity: 1;">
                <div class="fb-grouplabel">
                    <label id="item17_label_0" style="display: none;"></label>
                </div>
                <div class="fb-radio">
                    <label id="item17_0_label"><input name="radio17" id="item17_0_radio" type="radio" checked
                                                      data-hint="" value="Select"/><span class="fb-fieldlabel"
                                                                                         id="item17_0_span">Select</span></label>
                    <label id="item17_1_label"><input name="radio17" id="item17_1_radio" type="radio" value="Add"/><span
                            class="fb-fieldlabel" id="item17_1_span">Add</span></label>
                </div>
            </div>
            <div class="fb-item fb-50-item-column fb_cond_applied" id="item2">
                <div class="fb-grouplabel">
                    <label id="item2_label_0" style="display: none;"></label>
                </div>
                <div class="fb-dropdown">
                    <select name="select2" id="item2_select_1" data-hint="">
                        <option id="item2_0_option" selected value="Option 1">
                            Option 1
                        </option>
                        <option id="item2_1_option" value="Option 2">
                            Option 2
                        </option>
                        <option id="item2_2_option" value="Option 3">
                            Option 3
                        </option>
                    </select>
                </div>
            </div>
            <div class="fb-item fb-50-item-column fb_cond_applied" id="item4">
                <div class="fb-grouplabel">
                    <label id="item4_label_0" style="display: none;"></label>
                </div>
                <div class="fb-input-box">
                    <input name="text4" id="item4_text_1" type="text" maxlength="254" placeholder=""
                           data-hint="" autocomplete="off"/>
                </div>
            </div>
            <div class="fb-item" id="item15">
                <div class="fb-sectionbreak">
                    <hr style="border-top-color: rgb(240, 240, 240); max-width: 960px;">
                </div>
            </div>
            <div class="fb-item fb-100-item-column" id="item19">
                <div class="fb-header">
                    <h2 style="font-size: 13px; display: inline;">
                        Model
                    </h2>
                </div>
            </div>
            <div class="fb-item fb-100-item-column fb-two-column fb_cond_applied"
                 id="item18" style="opacity: 1;">
                <div class="fb-grouplabel">
                    <label id="item18_label_0" style="display: none;"></label>
                </div>
                <div class="fb-radio">
                    <label id="item18_0_label"><input name="radio18" id="item18_0_radio" type="radio" checked
                                                      data-hint="" value="Select"/><span class="fb-fieldlabel"
                                                                                         id="item18_0_span">Select</span></label>
                    <label id="item18_1_label"><input name="radio18" id="item18_1_radio" type="radio" value="Add"/><span
                            class="fb-fieldlabel" id="item18_1_span">Add</span></label>
                </div>
            </div>
            <div class="fb-item fb-50-item-column fb_cond_applied" id="item6" style="opacity: 1;">
                <div class="fb-grouplabel">
                    <label id="item6_label_0" style="display: none;"></label>
                </div>
                <div class="fb-dropdown">
                    <select name="select_model" id="item6_select_1" data-hint="">
                        <option id="item6_0_option" selected value="Option 1">
                            Option 1
                        </option>
                        <option id="item6_1_option" value="Option 2">
                            Option 2
                        </option>
                        <option id="item6_2_option" value="Option 3">
                            Option 3
                        </option>
                    </select>
                </div>
            </div>
            <div class="fb-item fb-50-item-column fb_cond_applied" id="item7" style="opacity: 1;">
                <div class="fb-grouplabel">
                    <label id="item7_label_0" style="display: none;"></label>
                </div>
                <div class="fb-input-box">
                    <input name="text7" id="item7_text_1" type="text" maxlength="254" placeholder=""
                           data-hint="" autocomplete="off"/>
                </div>
            </div>
            <div class="fb-item" id="item14">
                <div class="fb-sectionbreak">
                    <hr style="border-top-color: rgb(240, 240, 240); max-width: 960px;">
                </div>
            </div>
            <div class="fb-item fb-33-item-column" id="item21">
                <div class="fb-grouplabel">
                    <label id="item21_label_0">Regular Expression</label>
                </div>
                <div class="fb-regex">
                    <input name="regex21" id="item21_regex_1" required type="text" maxlength="254"
                           placeholder="XXXDDDD" data-hint="" autocomplete="off"/>
                </div>
            </div>
            <div class="fb-item fb-33-item-column" id="item22">
                <div class="fb-grouplabel">
                    <label id="item22_label_0" style="display: inline;">Year</label>
                </div>
                <div class="fb-regex">
                    <input name="regex22" id="item22_regex_1" type="text" maxlength="254"
                           placeholder="" data-hint="" autocomplete="off"/>
                </div>
            </div>
            <div class="fb-item fb-33-item-column" id="item13">
                <div class="fb-grouplabel">
                    <label id="item13_label_0" style="display: inline;">Fuel capacity</label>
                </div>
                <div class="fb-input-number">
                    <input name="number13" id="item13_number_1" required type="number" min="10"
                           max="100" step="0.1" data-hint="" autocomplete="off"/>
                </div>
            </div>
        </div>
    </div>
    <div class="fb-captcha fb-item-alignment-center" id="fb-captcha_control"
         style="display: none; cursor: default;">
        <img src="editordata/images/recaptchawhite.png"/>
    </div>
    <div class="fb-footer fb-item-alignment-right" id="fb-submit-button-div"
         style="min-height: 0px;">
        <input class="btn btn-primary btn-block" id="fb-submit-button" type="submit"
               value="Submit"/>
    </div>
</form>